<!DOCTYPE html>
<html>
  <head>
    <title>Gérer vos news</title>
    <link href="<?php echo css_url('bootstrap.min'); ?>" rel="stylesheet">
    <script src="<?php echo js_url('jquery.min'); ?>"></script>
    <script src="<?php echo js_url('bootstrap.min'); ?>"></script>
  </head>
  <body>
    
  <div class="row">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenue </h1>
        <p>Accèder aux nouveautés interne de la société ! Ecrivez , modifiez et supprimer des news </p>

        <p>
          <a class="btn btn-primary btn-lg" id="event_add_news" role="button">Ecrire une news</a>
        </p>
      </div>
    </div>
  </div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editer la news</h4>
      </div>
      <div class="modal-body">

           <div class="form-group">
            <label for="autorNews" class="col-form-label">Auteur:</label>
            <input type="text" class="form-control" id="autorNews">
          </div>

           <div class="form-group">
            <label for="titleNews" class="col-form-label">Titre:</label>
            <input type="text" class="form-control" id="titleNews">
          </div>

           <div class="form-group">
            <label for="contentNews" class="col-form-label">Contenu:</label>
            <input type="text" class="form-control" id="contentNews">
          </div>
   </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <div id="add_news" class="col-md-6 col-md-offset-3">
    <h2>Ajout d'une news</h2>
    <form action="addnews" method="POST" >
      <div class="form-group">
        <label for="autornews">Auteur de la news
        </label>
        <input name="autor" type="text" class="form-control" id="autornews"  placeholder="Auteur de la news">
        
      </div>


      <div class="form-group">
        <label for="titlenews">Titre de la news</label>
        <input name="title" type="text" class="form-control" id="titlenews" placeholder="Titre de la news">
      </div>

      <div class="form-group">
        <label for="contentnews">Contenu de la news</label>
        <textarea rows="4" cols="50" name="content" class="form-control" id="contentnews" placeholder="Contenu de la news"></textarea>
      </div>

     <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
    </div>

    <div class="col-md-6 col-md-offset-3">
    <h2>Liste des dernieres news</h2>
      <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Auteur</th>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Edition</th>
        <th>Suppression</th>
      </tr>
    </thead>
  
    <tbody>
    <?php
        foreach ($listeNews as $key => $news)
        {
            echo '<tr>';
            echo  '<td>'. $news->getId() . '</td>';
            echo  '<td>'. $news->getAutor() . '</td>';
            echo  '<td>'. $news->getTitle() . '</td>';
            echo  '<td>'. $news->getContent() . '</td>';   
            echo  '<td> <a onclick="ajaxEdit('.$news->getId().')"> Editer de la news </a> </td>';  
            echo  '<td> <a href=""> Supprimer la news </a> </td>';
          echo '</tr>';
        }
    ?>
    </tbody>
  </table>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
    <h2>Suppression d'une news </h2>
    <form action="deletenews" method="POST">
      <div class="form-group">
        <label for="id">ID de la news à supprimer
        </label>
        <input type="text" class="form-control" id="id" name="id"  placeholder="ID de la news à supprimer">
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
  </div>

  </body>
</html>

<script src="<?php echo js_url('main'); ?>"></script>;
<script src="<?php echo js_url('ajaxRequest'); ?>"></script>;

