<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Administration des coloris</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <!-- Bootstrap core CSS     -->
  <link href="<?php echo css_url_lib('bootstrap.min'); ?>" rel="stylesheet" />
  <!-- Animation library for notifications   -->
  <link href="<?php echo css_url_lib('animate.min'); ?>" rel="stylesheet"/>
  <!--  Light Bootstrap Table core CSS    -->
  <link href="<?php echo css_url_lib('light-bootstrap-dashboard'); ?>" rel="stylesheet"/>
  <!--css minicolors for color pkcers-->
  <link href="<?php echo css_url_lib('jquery.minicolors'); ?>" rel="stylesheet"/>
  <!--Datatable css-->
  <link rel="stylesheet" type="text/css" href="<?php echo css_url_lib('datatables.min'); ?>"/>
  <!--  My global CSS    -->
  <link href="<?php echo css_url('globalColors'); ?>" rel="stylesheet"/>
  <!-- Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="<?php echo css_url_lib('pe-icon-7-stroke'); ?>" rel="stylesheet" />
</head>
<body>

 <!-- //////////////////////////////////////Modal GROUPS colors//////////////////////////////////////////// -->
 <div class="modal fade" data-backdrop="true" id="modal_update_groups_colors" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <h5 class="modal-title" id="modalLabel">Edition du groupe de couleurs</h5>
       </div>
       <form id="modal_update_name_group_customer" method="POST" action="">
         <div class="modal-body">
           <div class="form-group">
             <input type="hidden" class="form-control" name="new_id_group_color" id="new_id_group_color">
           </div>
           <div class="form-group">
             <label for="new_name_group_colors" class="form-control-label">Nouveau nom du groupe de couleurs:</label>
             <input required placeholder="Nouveau nom" name="new_name_group_colors" id="new_name_group_colors" type="text" class="form-control">
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Fermer</button>
           <button class="btn btn-info btn-fill">Enregistrer</button>
         </div>
       </form>
     </div>
   </div>
 </div>
 
 <!-- ///////////////////////////////////////////// END Modal//////////////////////////////////////////////// -->




 <!-- //////////////////////////////////////Modal CUSTOMERS//////////////////////////////////////////// -->
 <div class="modal fade" data-backdrop="true" id="modal_update_colors" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <h5 class="modal-title" id="modalLabel">Edition du coloris</h5>
       </div>
       <form id="" method="POST" action="">
         <div class="modal-body">
           <div class="form-group">
             <input type="hidden" class="form-control" name="id_color" id="id_color">
           </div>
           <div class="form-group">
             <label for="new_name_color" class="form-control-label">Nouveau nom de la couleur:</label>
             <input required placeholder="Nouveau nom" name="new_name_color" id="new_name_color" type="text" class="form-control">
           </div>
           <div class="form-group">
             <label for="new_code_color" class="form-control-label">Nouveau code couleur:</label>
             <input required placeholder="Nouveau code couleurs" name="new_code_color" id="new_code_color" type="text" class="form-control demo">
           </div>
           <div class="form-group">
             <label for="new_group_color" class="form-control-label">Nouveau groupe de la couleur:</label>
             <select required name="new_group_color" id="new_group_color" class="form-control">
              <?php
              foreach($groups as $value){
              echo '<option value=' . '"' . $value->getIdGroupColor() . '">' . $value->getName() .'</option>';
            }
            ?>
          </select>

        </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Fermer</button>
       <button class="btn btn-info btn-fill">Enregistrer</button>
     </div>
   </form>
 </div>
</div>
</div>

<!-- ////////////////////////////////////// END Modal////////////////////////////////////// -->



<div class="wrapper">
  <div class="sidebar" data-color="blue" data-image="<?php  img_url("sidebar-5.jpg"); ?> ">    	  
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="" class="simple-text">
          STICK ATTACK
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="<?php echo base_url();?>dashboard_controller/index.html">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li>
          <a href="<?php echo base_url();?>profil_controller/index.html">
            <i class="pe-7s-user"></i>
            <p>Votre profil</p>
          </a>
        </li>

        <li>
          <a href="<?php echo base_url();?>customers_controller/index.html">
            <i class="pe-7s-user"></i>
            <p>Clients</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pe-7s-note2"></i>
            <p>Commandes</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pe-7s-news-paper"></i>
            <p>Produits</p>
          </a>
        </li>
        <li  class="active">
          <a href="#">
            <i class="pe-7s-science"></i>
            <p>Coloris</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pe-7s-map-marker"></i>
            <p>Tailles</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pe-7s-bell"></i>
            <p>Gestion</p>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gestion des coloris</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-globe"></i>
                <b class="caret hidden-sm hidden-xs"></b>
                <span class="notification hidden-sm hidden-xs">5</span>
                <p class="hidden-lg hidden-md">
                  5 Notifications
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
              </ul>
            </li>
            <li>
             <a href="">
              <i class="fa fa-search"></i>
              <p class="hidden-lg hidden-md">Search</p>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
           <a href="<?php echo base_url();?>profil_controller/index.html">
             <p>Mon compte</p>
           </a>
         </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <p>
              Dropdown
              <b class="caret"></b>
            </p>

          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li>
          <a href="<?php echo base_url();?>session_controller/index.html">
            <p>Se deconnecter</p>
          </a>
        </li>
        <li class="separator hidden-lg hidden-md"></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-12">
    <div class="card">
     <div class="header">
      <h4 class="title">Ajout de groupes de coloris</h4>
    </div>
    <div class="content">
      <form id="form_add_groups_colors" method="POST" action="addGroupColors.html">
       <div class="row">
        <div class="col-md-12">
         <div class="form-group">
          <label for="name_group_colors">Nom du groupe de coloris</label>
          <input id="name_group_colors" name="name_group_colors" type="text" class="form-control" placeholder="Exemple : Couleurs stickers">
        </div>
      </div>
    </div>
    <button id="btn_add_group_colors" class="btn btn-info btn-fill pull-right">Ajouter le groupe de coloris</button>
    <button id="btn_edit_groups_colors" style="margin-right: 20px;" type="button" data-toggle="collapse" data-target="#collapse_edit_groups_colors" 
    class="btn btn-danger btn-fill pull-right">Editer les groupes de coloris
  </button>
  <div class="clearfix"></div>
</form>
</div>
</div>
</div>
</div>


<div class="row">
 <div class="col-md-12">
  <div class="collapse" id="collapse_edit_groups_colors">
   <div class="card card-body">
    <div class="row">
     <div class="col-md-12">
      <div class="card">
       <div class="header">
        <h4 class="title">Gestion des groupes de coloris</h4>
        <p class="category">Liste des groupes de coloris</p>
      </div>
      <div class="content table-responsive">
        <table style="width:100% !important;" id="tab_groups_colors" class="col-md-12 table table-hover table-striped">
         <thead>
          <th>ID</th>
          <th>Nom</th>
          <th>Edition du nom</th>
          <th>Désactivation / Activation</th>
          <th>Status</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="row">
 <div class="col-md-12">
  <div class="card">
   <div class="header">
    <h4 class="title">Ajout de coloris</h4>
  </div>
  <div class="content">
    <form id="form_add_colors" method="POST" action="addColors.html">
     <div class="row">
      <div class="col-md-4">
       <div class="form-group">
        <label for="color_name">Nom du coloris</label>
        <input id="color_name" name="color_name" type="text"
        class="form-control" placeholder="Nom du coloris">
      </div>
    </div>
    
    <div class="col-md-4">
     <div class="form-group">
      <label for="color_code">Code couleurs du coloris</label>
      <input id="color_code" name="color_code" type="text" class="form-control demo" data-control="hue" value="#ff6161">
    </div>
  </div>

  <div class="col-md-4">
   <div class="form-group">
    <label for="name_group_for_color">Groupe du coloris</label>
    <select id="name_group_for_color" name="name_group_for_color" type="text" class="form-control" placeholder="Nom du coloris">
      <?php
      foreach($groups as $value){
      echo '<option value=' . '"' . $value->getIdGroupColor() . '">' . $value->getName() .'</option>';
    }
    ?>
  </select>
</div>
</div>

</div>


<button id="btn_add_colors" class="btn btn-info btn-fill pull-right">Ajouter le coloris</button>

<button id="btn_edit_colors" style="margin-right: 20px;" type="button" data-toggle="collapse" data-target="#collapse_edit_colors"
class="btn btn-danger btn-fill pull-right">Editer les coloris
</button>
<div class="clearfix"></div>
</form>
</div>
</div>
</div>
</div>

<div class="row">
 <div class="col-md-12">
  <div class="collapse" id="collapse_edit_colors">
   <div class="card card-body">
    <div class="row">
     <div class="col-md-12">
      <div class="card">
       <div class="header">
        <h4 class="title">Gestion des coloris</h4>
        <p class="category">Liste des coloris</p>
      </div>
      <div class="content table-responsive">
        <table style="width:100% !important;" id="tab_colors" class="col-md-12 table table-hover table-striped">
         <thead>
          <th>ID</th>
          <th>Nom</th>
          <th>Code couleur</th>
          <th>Goupe associé</th>
          <th>Edition</th>
          <th>Des/Actv</th>
          <th>Status</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</div>

<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li>
          <a href="#">
            Company
          </a>
        </li>
        <li>
          <a href="#">
            Portfolio
          </a>
        </li>
        <li>
          <a href="#">
           Blog
         </a>
       </li>
     </ul>
   </nav>
   <p class="copyright pull-right">
    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
  </p>
</div>
</footer>

</div>
</div>

</body>
<!--   Core JS Files   -->
<script src="<?php echo js_url_lib('jquery-1.10.2'); ?>" type="text/javascript"></script>
<script src="<?php echo js_url_lib('bootstrap.min'); ?>" type="text/javascript"></script>
<!--  Notifications Plugin    -->
<script src="<?php echo js_url_lib('bootstrap-notify');?>"></script>
<!--Plugin datatable -->
<script type="text/javascript" src="<?php echo js_url_lib('datatables.min');?>"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="<?php echo js_url_lib('light-bootstrap-dashboard');?>"></script>
<!--Plugin minicolors for color picker -->
<script src="<?php echo js_url_lib('jquery.minicolors.min');?>"></script>
<!-- Global Javascript for profil page -->
<script src="<?php echo js_url('mainColors');?>"></script>
<!-- Notifications-->
<script src="<?php echo js_url('notifications');?>"></script>
<!-- Ajax request for add colors-->
<script src="<?php echo js_url('addColors');?>"></script>
<!-- Ajax request for add groups colors-->
<script src="<?php echo js_url('addGroupsColors');?>"></script>
<!--Request Ajax for change informations of customers -->
<script src="<?php echo js_url('changeStatus');?>"></script>
<!--Request Ajax for load informations of groups colors-->
<script src="<?php echo js_url('editGroupsColorsModal');?>"></script>
<!--Request Ajax for load informations of colors-->
<script src="<?php echo js_url('editColorsModal');?>"></script>



<script type="text/javascript">
 var colpick = $('.demo').each( function() {
  $(this).minicolors({
    control: $(this).attr('data-control') || 'hue',
    inline: $(this).attr('data-inline') === 'true',
    letterCase: 'lowercase',
    opacity: false,
    change: function(hex, opacity) {
      if(!hex) return;
      if(opacity) hex += ', ' + opacity;
      try {

      } catch(e) {}
      $(this).select();
    },
    theme: 'bootstrap'
  });
});

</script>


</html>