<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="<?php img_url("favicon.ico"); ?>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Dashboard Attack</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="<?php echo css_url_lib('bootstrap.min'); ?>" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="<?php echo css_url_lib('animate.min'); ?>" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="<?php echo css_url_lib('light-bootstrap-dashboard'); ?>" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="<?php echo css_url_lib('pe-icon-7-stroke'); ?>" rel="stylesheet" />
    <!--  Datatable CSS    -->
    <link rel="stylesheet" type="text/css" href="<?php echo css_url_lib('datatables.min'); ?>" />

</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="<?php  img_url('sidebar-5.jpg'); ?> ">
           <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    STICK ATTACK
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="<?php echo base_url();?>dashboard_controller/index.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li>
                    <a href="<?php echo base_url();?>profil_controller/index.html">
                        <i class="pe-7s-user"></i>
                        <p>Votre profil</p>
                    </a>
                </li>

                <li>
                    <a href="<?php echo base_url();?>customers_controller/index.html">
                        <i class="pe-7s-user"></i>
                        <p>Clients</p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo base_url();?>orders_controller/index.html">
                        <i class="pe-7s-note2"></i>
                        <p>Commandes</p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo base_url();?>products_controller/index.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Produits</p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo base_url();?>colors_controller/index.html">
                        <i class="pe-7s-science"></i>
                        <p>Coloris</p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo base_url();?>size_controller/index.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Tailles</p>
                    </a>
                </li>
                <li>
                    <a href="<?php echo base_url();?>management_controller/index.html">
                        <i class="pe-7s-bell"></i>
                        <p>Gestion</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Gestion des statistiques</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <b class="caret hidden-sm hidden-xs"></b>
                            <span class="notification hidden-sm hidden-xs">5</span>
                            <p class="hidden-lg hidden-md">
                              5 Notifications
                              <b class="caret"></b>
                          </p>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                 <a href="<?php echo base_url();?>profil_controller/index.html">
                     <p>Mon compte</p>
                 </a>
             </li>

             <li>
                <a href="<?php echo base_url();?>session_controller/index.html">
                    <p>Se deconnecter</p>
                </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
</div>
</nav>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Statistiques des status de commandes</h4>
                        <p class="category">Récapitulatif des status des commandes</p>
                    </div>
                    <div class="content">
                        <div style="margin-top:15px!important; margin-bottom: 15px!important;" id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i>Prêt
                                <i class="fa fa-circle text-danger"></i>Livré
                                <i class="fa fa-circle text-warning"></i>En cours de production
                                <i style="color:#9368E9;" class="fa fa-circle"></i>Paiement en attente
                                <i style="color:#87CB16;" class="fa fa-circle"></i>Annulé
                                <i style="color:#1F77D0;" class="fa fa-circle"></i>Acompte versé
                                <i style="color:#5e5e5e;" class="fa fa-circle"></i>Expédié
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Statistiques mis à jour toutes les 2 minutes
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Statistiques des ventes en €</h4>
                        <p class="category">Récapitulatif des ventes en € pour chaques mois de l'année et de l'année derniere</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Année en cours
                                <i class="fa fa-circle text-danger"></i> Année dernière

                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Statistiques mis à jour toutes les 2 minutes
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-5">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Commandes</h4>
                        <p class="category">Récapitulatif des 10 dernieres commandes</p>
                    </div>
                    <div class="content">
                        <div class="content table-responsive">
                            <table style="width:100% !important;" id="tab_rapid_orders" class="col-md-12 table table-hover table-striped">
                                <thead>
                                    <th>Numéro de commande</th>
                                    <th>Propriétaire</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Statistiques mis à jour toutes les 2 minutes
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">STICK A'TCHAT</h4>
                        <p class="category">Tchat et pense-bêtes interne</p>
                    </div>
                    <div style="padding-top: 1px!important;" class="content">
                        <div style="background-color:#F5F5F5; height:450px;" class="ct-chart">
                            <div class="messages">
                                <div class="message">
                                 <span class="date">23:22</span> 
                                 <span class="author">Quentin</span> :
                                 <span class="content-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span>
                             </div>

                         </div>
                     </div>
                     <hr>
                     <div class="row">
                        <form action="">
                            <input hidden id="id_member" type="text">
                                
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Votre message :</label>
                                    <input id="text_message" type="text" class="form-control" value="">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                   <label></label>
                                   <button style="margin-top: 20px;" id="" name="" type="submit" class="btn btn-info btn-fill">Envoyer</button>
                               </div>
                           </div>
                       </form>
                   </div>

               </div>
           </div>
       </div>
   </div>
</div>
</div>

<footer class="footer">
    <div class="container-fluid">

     <p class="copyright pull-right">
        &copy; <script>document.write(new Date().getFullYear())</script>  <a href="http://www.stick-attack.fr">Quentin Geenens</a> | Conçus et développer pour STICK-ATTACK
    </p>
</div>
</footer>

</div>
</div>


</body>

<!--   Core JS Files   -->
<script src="<?php echo js_url_lib('jquery-1.10.2'); ?>" type="text/javascript"></script>
<script src="<?php echo js_url_lib('bootstrap.min'); ?>" type="text/javascript"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<script src="<?php echo js_url_lib('bootstrap-checkbox-radio-switch');?>"></script>
<!--  Charts Plugin -->
<script src="<?php echo js_url_lib('chartist.min');?>"></script>
<!--  Notifications Plugin    -->
<script src="<?php echo js_url_lib('bootstrap-notify');?>"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="<?php echo js_url_lib('light-bootstrap-dashboard');?>"></script>
<!--Plugin datatable -->
<script type="text/javascript" src="<?php echo js_url_lib('datatables.min');?>"></script>
<!--Main javascript dashboard -->
<script type="text/javascript" src="<?php echo js_url('MainDashboard');?>"></script>
<!-- Function for send data in ajax -->
<script src="<?php echo js_url('sendPost');?>"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="<?php echo js_url_lib('demo');?>"></script>


<script type="text/javascript">
    $(document).ready(function(){

        stats.initChartist();

    });
</script>

</html>
