<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="<?php img_url(" favicon.ico "); ?>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Dashboard Attack | Panneau d'administration permettant d'administrer les utilisateurs et bien plus encore</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<!-- Bootstrap core CSS     -->
	<link href="<?php echo css_url_lib('bootstrap.min'); ?>" rel="stylesheet" />
	<!-- Animation library for notifications   -->
	<link href="<?php echo css_url_lib('animate.min'); ?>" rel="stylesheet" />
	<!--  Light Bootstrap Table core CSS    -->
	<link href="<?php echo css_url_lib('light-bootstrap-dashboard'); ?>" rel="stylesheet" />
	<!-- Fonts and icons     -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<!--  Datatable CSS    -->
	<link rel="stylesheet" type="text/css" href="<?php echo css_url_lib('datatables.min'); ?>" />
	<!-- Fonts Roboto -->
	<link href="<?php echo css_url_lib('Roboto'); ?>" rel='stylesheet'>
	<!-- icon font pack -->
	<link href="<?php echo css_url_lib('pe-icon-7-stroke'); ?>" rel="stylesheet" />
</head>

<body>
	<!-- //////////////////////////////////////Modal members //////////////////////////////////////////// -->
	<div class="modal fade" data-backdrop="true" id="modal_update_members" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
	aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title" id="modalLabel">Edition du membre</h5>
				</div>
				<form id="changeInfosMembersModal" method="POST" action="">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" class="form-control" name="id_member" id="id_member">
						</div>
						<div class="form-group">
							<label for="login_member" class="form-control-label">Nouveau login du compte:</label>
							<input required placeholder="Nouveau nom" name="login_member" id="login_member" type="text" class="form-control">
						</div>

						<div class="form-group">
							<label for="email_member" class="form-control-label">Nouvelle addresse e-mail du compte:</label>
							<input required placeholder="Nouveau nom" name="email_member" id="email_member" type="text" class="form-control">
						</div>

						<div class="form-group">
							<label for="new_group_member" class="form-control-label">Editer le type du compte:</label>
							<select id="new_group_member" name="new_group_member" class="form-control" name="state">
								<?php
                          foreach($groups_members as $value)
                          {
                            echo '<option value=' . '"' . $value->getIdGroupMember() . '">' . $value->getName() . '</option>';
                        }
                        ?>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Fermer</button>
						<button class="btn btn-info btn-fill">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- ///////////////////////////////////////////// END Modal//////////////////////////////////////////////// -->

	<!-- //////////////////////////////////////Modal password //////////////////////////////////////////// -->
	<div class="modal fade" data-backdrop="true" id="modal_update_members_password" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
	aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title" id="modalLabel">Edition du mot de passe</h5>
				</div>
				<form id="changePasswordMembers" method="POST" action="">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" class="form-control" name="id_member_password" id="id_member_password">
						</div>
						<div class="form-group">
							<label for="password_member" class="form-control-label">Nouveau mot de passe:</label>
							<input required placeholder="*************" name="password_member" id="password_member" type="password" class="form-control">
						</div>

						<div class="form-group">
							<label for="password_member_confirmation" class="form-control-label">Confirmation du mot de passe:</label>
							<input required placeholder="*************" name="password_member_confirmation" id="password_member_confirmation" type="password"
							class="form-control">
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Fermer</button>
						<button class="btn btn-info btn-fill">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- ///////////////////////////////////////////// END Modal//////////////////////////////////////////////// -->

	<!-- //////////////////////////////////////Modal methods shipping //////////////////////////////////////////// -->
		<div class="modal fade" data-backdrop="true" id="modal_update_shipping" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
		aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h5 class="modal-title" id="modalLabel">Edition de la méthode de livraison</h5>
					</div>
					<form id="" method="POST" action="">
						<div class="modal-body">
							<div class="form-group">
								<input type="hidden" class="form-control" name="id_method_shipping" id="id_method_shipping">
							</div>
							<div class="form-group">
								<label for="new_name_method_shipping" class="form-control-label">Nom de la méthode de livraison:</label>
								<input required  name="new_name_method_shipping" id="new_name_method_shipping" type="text" class="form-control">
							</div>
	
							<div class="form-group">
								<label for="new_price_method_shipping" class="form-control-label">Nouveau prix de la methode de paiement:</label>
								<input required name="new_price_method_shipping" id="new_price_method_shipping" type="text" class="form-control">
							</div>
	
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Fermer</button>
							<button class="btn btn-info btn-fill">Enregistrer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- ///////////////////////////////////////////// END Modal//////////////////////////////////////////////// -->
	

	<div class="wrapper">
		<div class="sidebar" data-color="blue" data-image="<?php  img_url(" sidebar-5.jpg "); ?> ">
			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="" class="simple-text">
						Dashboard Attack
					</a>
				</div>
				<ul class="nav">
					<li>
						<a href="<?php echo base_url();?>dashboard_controller/index.html">
							<i class="pe-7s-graph"></i>
							<p>Dashboard</p>
						</a>
					</li>

					<li>
						<a href="<?php echo base_url();?>profil_controller/index.html">
							<i class="pe-7s-user"></i>
							<p>Votre profil</p>
						</a>
					</li>

					<li>
						<a href="<?php echo base_url();?>customers_controller/index.html">
							<i class="pe-7s-user"></i>
							<p>Clients</p>
						</a>
					</li>
					<li>
						<a href="<?php echo base_url();?>orders_controller/index.html">
							<i class="pe-7s-note2"></i>
							<p>Commandes</p>
						</a>
					</li>
					<li>
						<a href="<?php echo base_url();?>products_controller/index.html">
							<i class="pe-7s-news-paper"></i>
							<p>Produits</p>
						</a>
					</li>
					<li>
						<a href="<?php echo base_url();?>colors_controller/index.html">
							<i class="pe-7s-science"></i>
							<p>Coloris</p>
						</a>
					</li>
					<li>
						<a href="<?php echo base_url();?>size_controller/index.html">
							<i class="pe-7s-map-marker"></i>
							<p>Tailles</p>
						</a>
					</li>
					<li class="active">
						<a href="<?php echo base_url();?>management_controller/index.html">
							<i class="pe-7s-bell"></i>
							<p>Gestion</p>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="main-panel">
			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">PANNEAU D'ADMINISTRATION</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="<?php echo base_url();?>dashboard_controller/index.html">
									<i class="fa fa-dashboard"></i>
								</a>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="<?php echo base_url();?>profil_controller/index.html">
									<p>Mon compte</p>
								</a>
							</li>

							<li>
								<a href="<?php echo base_url();?>session_controller/index.html">
									<p>Se deconnecter</p>
								</a>
							</li>
							<li class="separator hidden-lg hidden-md"></li>
						</ul>
					</div>
				</div>
			</nav>


			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="header">
									<h4 class="title">Gestion des comptes utilisateurs</h4>
								</div>
								<div class="content">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="content table-responsive">
														<table style="width:100% !important;" id="tab_management" class="col-md-12 table table-hover table-striped">
															<thead>
																<th>ID</th>
																<th>Pseudo</th>
																<th>Adresse e-mail</th>
																<th>Type du compte</th>
																<th>Edition du compte utilisateur</th>
																<th>Edition du mot de passe</th>
																<th>Désactivation / Activation</th>
																<th>Status</th>
															</thead>
															<tbody>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="header">
									<h4 class="title">Ajout de modes de livraisons</h4>
								</div>
								<div class="content">

									<form id="form_add_shipping" method="POST" action="addShippingMethod.html">
										<div class="row">
											<div class="col-md-8">
												<div class="form-group">
													<label for="">Nom du mode de livraison</label>
													<input id="name_method_shipping" name="name_method_shipping" type="text" class="form-control" placeholder="Exemple : Colissimo">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label for="">Prix du mode de livraison</label>
													<input id="price_method_shipping" name="price_method_shipping" type="text" class="form-control" placeholder="Exemple : 10€">
												</div>
											</div>
										</div>
										<button type="submit" id="btn_add_shipping" class="btn btn-info btn-fill pull-right">Ajouter le mode de livraison</button>

										<button id="btn_edit_shipping" style="margin-right: 20px;" type="button" data-toggle="collapse" data-target="#collapse_edit_shipping_method"
										class="btn btn-danger btn-fill pull-right">Editer les modes de livraisons</button>

										<div class="clearfix"></div>
									</form>

								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="collapse" id="collapse_edit_shipping_method">
								<div class="card card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="header">
													<h4 class="title">Gestion des modes de livraisons</h4>
													<p class="category">Liste modes de livraisons</p>
												</div>
												<div class="content table-responsive">
													<table style="width:100% !important;" id="tab_management_shipping" class="col-md-12 table table-hover table-striped">
														<thead>
															<th>ID</th>
															<th>Nom</th>
															<th>Prix</th>
															<th>Edition du nom</th>
															<th>Désactivation / Activation</th>
															<th>Status</th>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<p class="copyright pull-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())

						</script>
						<a href="http://www.stick-attack.fr">Quentin Geenens</a> | Conçus et développer pour STICK-ATTACK
					</p>
				</div>
			</footer>

		</div>
	</div>

</body>
<!--   Core JS Files   -->
<script src="<?php echo js_url_lib('jquery-1.10.2'); ?>" type="text/javascript"></script>
<script src="<?php echo js_url_lib('bootstrap.min'); ?>" type="text/javascript"></script>
<!--  Notifications Plugin    -->
<script src="<?php echo js_url_lib('bootstrap-notify');?>"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="<?php echo js_url_lib('light-bootstrap-dashboard');?>"></script>
<!--Plugin datatable -->
<script type="text/javascript" src="<?php echo js_url_lib('datatables.min');?>"></script>
<!-- Function for send data in ajax -->
<script type="text/javascript" src="<?php echo js_url('sendPost');?>"></script>
<!--Request Ajax for change informations of customers -->
<script src="<?php echo js_url('changeStatus');?>"></script>
<!-- Functions for notifications -->
<script src="<?php echo js_url('notifications');?>"></script>
<!--Main management js -->
<script type="text/javascript" src="<?php echo js_url('mainManagement');?>"></script>
<!--Request Ajax for load informations of members-->
<script type="text/javascript" src="<?php echo js_url('editMembersModal');?>"></script>
<!--Request Ajax for change informations of members-->
<script type="text/javascript" src="<?php echo js_url('changeInfosMembers');?>"></script>
<!--Request Ajax for add an shipping method-->
<script type="text/javascript" src="<?php echo js_url('addShippingMethod');?>"></script>
<!--Request Ajax for load shipping method on modal-->
<script type="text/javascript" src="<?php echo js_url('editShippingsMethodsModal');?>"></script>
<!--Request Ajax for edit method shippings on modal-->
<script type="text/javascript" src="<?php echo js_url('changeInfosMethodsShippings');?>"></script>

</html>
